* {
  border-radius: 10px;
  font-family: "CaskaydiaCove NF";
  font-size: 15px;
}

#waybar {
  background-color: transparent;
}

#tooltip,
#temperature,
#cpu,
#memory,
#pulseaudio,
#backlight,
#battery,
#clock,
#tray {
  background: #1a1b26;
  padding: 3px 13px 4px 12px;
  border: 2px solid #7dcfff;
  box-shadow: 0 0 2 1px #7dcfff;
  margin: 2px 2px 2px 2px;
}

#temperature {
  color: #ff9e64
}

#temperature.critical {
  color: #f7768e
}

#cpu {
  color: #7aa2f7;
}

#memory {
  color: #9ece6a;
}

#workspaces button {
  background: #1a1b26;
  padding: 3px 12px 4px 12px;
  border: 2px solid #565f89;
  border-radius: 20px;
  color: #565f89;
  box-shadow: 0 0 2 1px #565f89;
  margin: 2px 4px 2px 4px;
}

#workspaces button.active {
  border: 2px solid #7dcfff;
  color: #7dcfff;
  box-shadow: 0 0 2 1px #7dcfff;
}

#workspaces button.urgent {
  border: 2px solid #f7768e;
  color: #f7768e;
  box-shadow: 0 0 2 1px #f7768e;
}

#workspaces button:hover {
  border: 2px solid #c0caf5;
  color: #c0caf5;
}

#pulseaudio {
  color: #bb9af7;
}

#backlight {
  color: #ff9e64;
}

#battery {
  color: #9ece6a;
}

#clock {
  color: #7dcfff;
}

#tray {
  color: #c0caf5;
}
