configuration {
	modi: "drun";
	font: "Noto Sans Regular 15";
	show-icons: true;
	icon-theme: "Reversal-blue-dark";
	display-drun: "";
	display-filebrowser: "";
	drun-display-format: "{name}";
}

@theme "theme.rasi"
